*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

body{
    background-color: bisque;
    background-size: contain;
    font-size: 14pt;
    font-family: 'Times New Roman', Times, serif;
    
}

p{
    font-size: 14pt;
}
h1{
    text-align: center;
    color: red;
}


div.one{
    background-color:orangered;
    width: 100vw;
    padding:0.5rem;
    text-align: left;
    
}
@media screen and (max-width:600px){
    div.one{width: 100vw;}
} 
.one a{
    margin-right:2em;
    color:black;
    font-size:14pt;
    text-decoration: none;
    transition:all .25s ease-in;
}
.one a:hover{
    font-size:15pt;
    color:blue;
}
input,textarea{
    padding:0.5rem;
    border-radius:5px;
    border:0.5px solid red;
    width:;
}
legend{
    color: solid red;
}
.food_order input[type=number]{
    width: 50px;
}

tr td h2{
    color: black;
}

td:nth-child(1){
    font-weight: bold;
    color: rgba(0,0,0,0.8);
}

td:nth-child(2){
    padding-left:5rem ;
}

div.two{
    text-align: center;
    width: 100%;
    background-image: url(asaro.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    padding:5rem;
    margin-bottom: 1rem;
}
div.four{
    margin: 10px auto 10px auto;
    text-align: centre;
    font-size: 30px;
}

.order_btn{
    padding:0.5rem;
    background-color: red;
    margin-right: 0.4rem;
}
.order_btn a{
    text-decoration: none;
    color:white;
    font-size:12pt;
}
.menu-container, .contact, .order-container{
    padding: 1rem;
}

.food-wrapper{
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: space-around;
}

.food h2{
    text-align:center;
}

.food img{
    height:250px;
    width:250px;
    border-radius: 50%;
}

footer{
    text-align: center;
    word-spacing: 1em;
    background-color: rgb(255, 69, 0);
    width: 100vw;
    padding:0.2rem;
    margin-top:2rem;   
}
@media screen and (max-width:600px){
    footer{width: 100%;}
} 

/* footer.contact{
    position: fixed;
    bottom: 0px;
    width: 100%;
} */

@media only screen and (max-width:600px){
    .one{width: 100vw;}
    footer

} 
